# Archivos de IntelliJ/Android Studio
*.iml
.idea/
*.ipr
*.iws
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Sistema operativo
.DS_Store

# Archivos generados por Gradle
.gradle/
build/
captures/

# Archivos específicos de compilación
*.apk
*.ap_
*.dex

# Archivos generados por el compilador Java
*.class

# Archivos del NDK y C++
.externalNativeBuild/
.cxx/

# Archivos locales y de configuración
local.properties
/.idea/
.env
.vscode/

# Archivos de Gradle Wrapper
.gradle/
gradle-wrapper.jar
gradle-wrapper.properties

# Otros archivos temporales o generados
tmp/
logs/
*.log
*.lock

# Directorios de empaquetado de aplicaciones
outputs/
generated/
intermediates/