<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        android:screenOrientation="portrait">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.ImportExportActivity" />
        <activity android:name=".articulos.ArticulosActivity"        />
        <activity android:name=".articulos.ArticuloDetalleActivity" />
        <activity android:name=".articulos.ArticuloEditActivity" />
        <activity android:name=".articulos.ArticuloAddActivity" />
        <activity android:name=".socios.SociosActivity" />
        <activity android:name=".socios.SocioDetalleActivity" />
        <activity android:name=".socios.SocioEditActivity" />
        <activity android:name=".socios.SocioAddActivity" />
        <activity android:name=".prestamos.PrestamosActivity" />
           <activity android:name=".prestamos.PrestamoDetalleActivity" />
          <activity android:name=".prestamos.PrestamoEditActivity" />
           <activity android:name=".prestamos.PrestamoAddActivity"/>
        <activity android:name=".prestamos.PrestamoAddSocioActivity"/>
        <activity android:name=".prestamos.PrestamoAddArticuloActivity"/>

        <activity android:name=".utils.graficos.GraficosActivity"/>
        <activity
            android:name=".utils.graficos.ArticulosGraphs"
            android:exported="false" />
        <activity
            android:name=".utils.graficos.PrestamosGraphs"
            android:exported="false" />
        <activity
            android:name=".utils.graficos.SociosGraphs"
            android:exported="false" />
        <activity
            android:name=".utils.graficos.EjemploGraficos"
            android:exported="false" />



    </application>

<!--       <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />-->
<!--       <uses-permission android:name="android.permission.CAMERA" />-->
<!--       <uses-feature android:name="android.hardware.camera" android:required="false" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Para Android 9 (API nivel 28) o inferior -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Para Android 10 (API nivel 29) o superior -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- Para Android 10 (API nivel 29) o superior -->


   </manifest>